header{    
    padding: 1rem;
    background-color: #cecece;

    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 4rem;
}

.menu{
    width:100%;
    display: flex;
}

.menu ul{
    position: relative;
    width: 95%;
    height: 95%;
    color: #7C5437;
    display: flex;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: 300;
    justify-content: space-evenly;
    margin-right: 20px;
    margin-left: 20px;
}

.menu li{
    margin-right: 50px;
    margin-left: 50px;
}

.menu li:hover{
    display: block;
    cursor: pointer;
    color:#724423;
    font-weight: 600;
}

.contato input{
    width: 400px;
    padding: 0.5rem;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.button{
    padding: 0.25rem 1.5rem;
    border: 1px solid #7C5437;
    border-radius: 2px;
    color: #7C5437;
    font-weight: bold;
    text-decoration: none;
}
.button:hover{
    background-color: #7C5437;
    display: block;
    cursor: pointer;
    color:#ffffff;
    font-weight: 600;
}