/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
}

header{    
    padding: 1rem;
    background-color: white;
    border-bottom: 2px solid #f2f2f2;

    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: #222;
}

.logo img{
    width: 50px;
}

.contato input{
    width: 400px;
    padding: 0.5rem;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.button{
    padding: 0.25rem 1.5rem;
    border: 1px solid #2c5fd5;
    border-radius: 2px;
    color: #2c5fd5;
    font-weight: bold;
    text-decoration: none;
}

.linkProjeto .button{
    border: none;
    background-color: #fb2300;
    color: white;
    padding: 10px 16px;
    text-transform: uppercase;
    font-size: 0.8rem;
}

main{
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-row-gap: 1rem;

    grid-template-areas: 
    'fotoPerfil        principal         principal         ad'
    'fotoPerfil        principal         principal         projetosPrevia'
    'fotoPerfil        principal         principal         projetosPrevia'
    'skills            sobrePrevia       sobrePrevia       projetosPrevia'
    'skills            educacao          educacao          projetosPrevia'
    'skills            cursosExtras      cursosExtras      projetosPrevia'
    'projetoCompleto   projetoCompleto   linkProjeto       projetosPrevia'
    'experiencia       experiencia       experiencia       projetosPrevia'
    ;
}

.principal{
    grid-area: principal;

    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 1rem 0 56.26% 1rem;
    height: 0;
    overflow: hidden;
    text-align: center;
}

.principal img{
    width: 20px;
}

.fotoPerfil img{
    grid-area: fotoPerfil;

    width: 20rem;
    border-radius: 50%;
}

.principal iframe,
.principal object,
.principal embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.educacao{
    grid-area: educacao;

    padding: 1rem;
    border-bottom: 1px solid #ddd;

    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    grid-gap: 1rem;
}

.educacao img{
    width: 48px;
    border-radius: 50%;
}

.educacao .data{
    color: #777;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.educacao .instituicao{
    font-size: 0.8rem;
}

.linkProjeto{
    grid-area: linkProjeto;

    padding: 3rem 1rem;
    border-bottom: 1px solid #ddd;
    text-align: right;
}

.ad{
    grid-area: ad;

    margin: 1rem;
    padding: 4rem;
    text-align: center;
    background-color: #2196f3;
    color: white;
}

.projetosPrevia{
    grid-area: projetosPrevia;

    margin: 1rem;
}

.projetosPrevia a{
    display: grid;
    grid-template-columns: 4fr 5fr;
    grid-gap: 0.5rem;
    padding-bottom: 0.75rem;
}

.projetosPrevia img{
    width: 100%;
}

.projetosPrevia h4{
    margin: 0.25rem 0;
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: uppercase;
}

.projetosPrevia p{
    color: #888;
    font-size: 0.9rem;
}

.projetosPrevia img{
    width: 150px;
}

@media screen and (max-width: 700px) {
    .menu, .ad{
        display: none;
    }
    
}

@media screen and (min-width: 700px) {
    header{
        grid-template-columns: auto auto auto;
    }

    main{
        max-width: 1200px;

        grid-template-areas: 
        'principal   principal      ad'
        'principal   principal      projetos'
        'principal   actions        projetos'
        'educacao    linkProjeto    projetos'
        '.              .           projetos';
    }
}